<!DOCTYPE html>
<html>
  <head>
      <title> My Cinema </title>
      <link rel="icon" type="image/png" href="icon/logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
  </head>

  <body>
      <div id="page_container">
          <div class="header">
              <div class="header-text">
                  <span class="logo-container">
                      <a href="../index.html">
                        <img src="../image/mycinema.jpg" alt="my cinema" width="60px" height="60px">
                    </a>
                  </span>
                  <span class="text-container">
                      <h1> My Cinema </h1>
                </span>
              </div>
          </div>
      
          <div class="navbar">
              <a href="contact.html">Contact</a>
              <a href="movies.html">Movies</a>
              <a href="../index.html">Home</a>
          </div>

    
        <div id="movie_detail"></div><br>
        <div>
            <button  class="btn" onclick="goBack()">Go Back</button>
        </div>
		 
      </div> 
		<div class="footer">@Copyright Ina Speci </div>
        <script src="../js/detail.js" type="text/javascript"></script>
    </body>
</html>
